arize-phoenix>=4.11.2
arch
beautifulsoup4
chromadb
fastapi
llama-index
llama-index-embeddings-huggingface
llama-index-llms-huggingface
llama-index-vector-stores-chroma
matplotlib
mplfinance
numpy
pandas
pydantic
pypinyin
requests
tiktoken
torch
transformers
tushare
uvicorn[standard]